{% extends "index.html" %}
{% block title %}
<section class="welcome_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-md-6">
        <div>
          <img class="img-fluid" src="/static/images/i6.jpg" alt="" style="height: 450px; margin-top: 70px;" />
        </div>
      </div>
      <div class=" col-md-6">
        <div class="welcome_detail">
          <h3>
            About
          </h3>
          <h4>
            Secure Video Encryption and Decryption System Using Advanced Cryptographic Techniques.
          </h4>
          <p>
            The Secure Video Encryption and Decryption System is designed to protect video content from unauthorized access using Advanced Encryption Standard (AES), a widely trusted symmetric key cryptographic algorithm. The system ensures high-speed encryption and decryption while maintaining low latency, making it ideal for real-time applications such as secure video conferencing, surveillance, and digital content distribution. By encrypting video frames before transmission, the system safeguards against cyber threats like brute-force attacks and unauthorized interception. Additionally, it integrates efficient key management and integrity verification mechanisms, ensuring data authenticity and preventing tampering. Optimized for performance and scalability, the system is tested rigorously to provide a reliable, secure, and efficient solution for various video transmission scenarios, offering enhanced privacy and security in digital communication.            
          </p> 
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock  %}